<%- include("../header")-%>
    <div class="bg-image">

        <div class="container-fluid pt-5 my-5 position-absolute">
            <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-4"></div>
                    <div class="col-sm-9 col-md-6 col-lg-8">
                        <br />
                        <p class="text-center display-3 text-uppercase fw-bolder text-white">
                            Community Center
                        </p>
                        <br />
                        <p class="fs-3 text-uppercase text-white">
                            The Val community is a major part of our game. And to make sure we heard you loud and clear.
                            We open multiple official social media platforms so players can reach out to our team easier.
                        </p>
                        <br />
                        <p class="fs-3 text-uppercase text-white">
                            It would be more than delighted to have you in our community. We play together. We discover
                            the world of VAL together. We chat, learn, exchange our opinions on how to make our game and our
                            community going side by side. Here are some recent activities we would like to share.
                        </p>
                </div>
            </div>

        </div>
        <img class="img-fluid" src="/img/bg_Community Center.png">
    </div>

    <%- include("../footer")-%>