<%- include("../header")-%>

    <div lass="bg-image">
        <div class="container-fluid pt-5 my-5 position-absolute">
            <%- include("../comingSoon")-%> 
        </div>
        <img class="img-fluid" src="/img/bg_Community Center.png">
    </div>

    <%- include("../footer")-%>