<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-5 my-5 position-absolute">
            <%- include("../comingSoon")-%>
        </div>
        <img class="img-fluid w-100" src="/img/bg_Community Center.png">
    </div>

    <%- include("../footer")-%>