<%- include("../header")-%>

    <div lass="bg-image">
        <div class="container-fluid pt-1 my-1 position-absolute">
            <div class="row text-uppercase">
                <div class="col-6 col-6 position-absolute end-0 me-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="font-about fw-bolder" style="color: rgb(176, 31, 31);">NFT</div>
                            <div class="font-aboutus text-white">
                                Use NFT to get access to the game. Legendary, Epic, Rare and common
                                will get unique additional stat and access differently from each other.
                                Still, unique but fair.
                            </div>

                            <ul class="list-inline">

                                <li class="font-aboutus fw-bolder list-inline-item" style="color: rgb(176, 31, 31);">
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    Character NFTs
                                </li>
                                <li class="font-aboutus text-white fw-normal list-inline-item">
                                    Get a unique character with different gender,
                                    status, appearance and ability.

                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="col-auto font-aboutus fw-bolder list-inline-item"
                                    style="color: rgb(176, 31, 31);">
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    Weapon Blueprint NFTs

                                </li>
                                <li class=" col font-aboutus text-white fw-normal list-inline-item">
                                    Get yourself a weapon blueprints for a better and suitable playstyle.
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="font-aboutus fw-bolder list-inline-item" style="color: rgb(176, 31, 31);">
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    Land owners NFTs
                                </li>
                                <li class="font-aboutus text-white fw-normal list-inline-item">
                                    Become landowners for more access in your basement choose rarity that suits your
                                    favorite. And don’t forget about the guild war system.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/BG_NFT.png">
    </div>

    <%- include("../footer")-%>