<%- include("../header")-%>

    <div lass="bg-image">
        <div class="container pt-5 my-5 position-absolute">
            <p class="display-3 text-uppercase fw-bolder text-white">
                NFT
            </p>
        </div>
        <img class="img-fluid" src="Blockchain_bg.png">
    </div>

    <%- include("../footer")-%>