<%- include("../header")-%>

    <div lass="bg-image">
        <div class="container-fluid pt-3 my-3 position-absolute">
            <div class="row">
                <div class=" col-12 position-absolute end-0 me-5 text-uppercase fw-bolder text-end font-about"
                    style="color: rgb(176, 31, 31);">
                    Token
                    <div class="ms-5 fw-normal text-white font-aboutus text-start">
                        There is still no official token in VAL. However, our token will be issued as an ERC1155.
                        Holders will be able to utilize these tokens in a variety of ways including
                    </div>
                    <div class="col-6 fw-normal text-white text-start ms-5 mt-5 font-aboutus">
                        Purchase high rarity character, gun blueprints, land plots or exchange in VAL Center Market.
                        Pay entry fees for raids.
                        Bet on a guild war mode
                        and much more waiting to be announce.

                    </div>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/BG_TOKEN.png">
    </div>

    <%- include("../footer")-%>