<%- include("../header")-%>

    <div lass="bg-image">
        <div class="container-fluid pt-3 my-3 position-absolute">
            <div class="row text-uppercase">
                <div class="col-12 position-absolute" style="padding: 3.5vw;">
                    <!-- <div class="row"> -->
                        <!-- <div class="col-12" style="padding: 3vw;"> -->
                            <div class="text-uppercase fw-bolder font-about text-end end-0"
                                style="color: rgb(176, 31, 31);">
                                Token
                            </div>

                            <div class="fw-normal text-white font-aboutus lh-base">
                                There is still no official token in VAL. However, our token will be issued as an
                                ERC1155.
                                Holders will be able to utilize these tokens in a variety of ways including
                            </div>
                            <div class="fw-normal text-white text-start mt-4 font-aboutus lh-base">
                                <p>
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    Purchase high rarity character, gun blueprints, land plots or exchange in VAL Center
                                    Market.
                                </p>
                                <p>
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    entry fees for raids.
                                </p>
                                <p>
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    Bet on a guild war mode
                                </p>
                                <p>
                                    <i class="fa-sharp fa-solid fa-circle-dot" style="color: #fff;"></i>
                                    and much more waiting to be announce.
                                </p>

                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/BG_TOKEN.png">
    </div>

    <%- include("../footer")-%>