<div class="container-fluid">
    <div class="row d-flex justify-content-center text-uppercase" style="margin-top: 15rem;">
        <div class="col">
            <p class="" style="font-size: 5.5rem;text-align: center;font-weight: bolder; color: #fff;">Coming Soon...</p>
        </div>
    </div>
</div>