<div>
    <div class="row w-100 position-absolute mt-3">
        <div class="col text-white">
            <nav class="container-fluid">
                <ul class="text-uppercase"><br />
                    <a class="nav-link" href="/game">
                        <h1>Game</h1>
                    </a><br />
                    <a class="nav-link" href="#">
                        <h2>Roadmap</h2>
                    </a><br />
                    <a class="nav-link" href="/devlog">
                        <h2>Dev Log New</h2>
                    </a><br />
                    <a class="nav-link" href="/versions">
                        <h2>Version Update</h2>
                    </a>
                </ul>
            </nav>
        </div>
        <div class="col text-white">
            <nav class="container-fluid">
                <ul class="text-uppercase"><br />
                    <h1>Blockchain</h1><br />
                    <a class="nav-link" href="/nft">
                        <h2>nft</h2>
                    </a><br />
                    <a class="nav-link" href="/token">
                        <h2>Token</h2>
                    </a><br />
                    <a class="nav-link" href="/whitepaper">
                        <h2>white paper</h2>
                    </a><br />
                </ul>
            </nav>
        </div>
        <div class="col text-white">
            <nav class="container-fluid">
                <ul class="text-uppercase"><br />
                    <h1>About Us</h1><br />
                    <a class="nav-link" href="/aboutus">
                        <h2>who we are</h2>
                    </a><br />
                    <a class="nav-link" href="/vision">
                        <h2>our vision</h2>
                    </a><br />
                    <a class="nav-link" href="/joinus">
                        <h2>join the sqaud</h2>
                    </a><br />
                </ul>
        </div>
        <div class="col">
            <img class="img-fluid" src="vestalife_logo.png" alt="VestALife">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="discord.png" onclick="openDiscord()">
                </div>
                <div class="col">
                    <img class="img-fluid" src="twitter.png" onclick="openTwitter()">
                </div>
                <div class="col">
                    <img class="img-fluid" src="facebook.png" onclick="openFacebook()">
                </div>
                <div class="col">
                    <img class="img-fluid" src="youtube.png" onclick="openYoutube()">
                </div>
            </div>
        </div>
    </div>
    <img class="w-100" src="footer_bg.png">
</div>

<Script>
    openDiscord = () => {
        window.open("https://discord.gg/yqXFXaVS");
    };

    openTwitter = () => {
        window.open("https://twitter.com/playVestALife");
    };

    openFacebook = () => {
        window.open("https://www.facebook.com/playVestALife");
    };

    openYoutube = () => {
        window.open("https://www.youtube.com/@igashaofficial");
    };
</Script>

</body>

</html>