<div>
    <div class="row w-100 position-absolute">
        <div class="col-lg-9 text-white">
            <div class="row">
                <nav class="col-sm-6 col-lg-4">
                    <ul class="text-uppercase lh-lg">
                        <p></p>
                        <a class="nav-link fw-bold home-font" href="/game">Game</a>
                        <a class="nav-link font-footer" href="#">Roadmap</a>
                        <a class="nav-link font-footer" href="/devlog">Dev Log New</a>
                        <a class="nav-link font-footer" href="/versions">Version Update</a>
                    </ul>
                </nav>
                <nav class="col-sm-6 col-lg-4">
                    <ul class="text-uppercase lh-lg">
                        <p></p>
                        <div class="fw-bold home-font">Blockchain</div>
                        <a class="nav-link font-footer" href="/nft">nft</a>
                        <a class="nav-link font-footer" href="/token">Token</a>
                        <a class="nav-link font-footer" href="/whitepaper">white paper</a>
                    </ul>
                </nav>
                <nav class="col-sm-6 col-lg-4">
                    <ul class="text-uppercase lh-lg">
                        <p></p>
                        <div class="fw-bold home-font">About Us</div>
                        <a class="nav-link font-footer" href="/aboutus">who we are</a>
                        <a class="nav-link font-footer" href="/vision">our vision</a>
                        <a class="nav-link font-footer" href="/joinus">join the sqaud</a>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-lg-3 border border-success">
            <img class="w-100" src="/img/vestalife_logo.png" alt="VestALife">
            <div class="row">
                <div class="col">
                    <img class="w-100" src="/img/discord.png" onclick="openDiscord()">
                </div>
                <div class="col">
                    <img class="w-100" src="/img/twitter.png" onclick="openTwitter()">
                </div>
                <div class="col">
                    <img class="w-100" src="/img/facebook.png" onclick="openFacebook()">
                </div>
                <div class="col">
                    <img class="w-100" src="/img/youtube.png" onclick="openYoutube()">
                </div>
            </div>
        </div>
    </div>
    <img class="w-100" src="/img/footer_bg.png">
</div>

<Script>
    openDiscord = () => {
        window.open("https://discord.gg/yqXFXaVS");
    };

    openTwitter = () => {
        window.open("https://twitter.com/playVestALife");
    };

    openFacebook = () => {
        window.open("https://www.facebook.com/playVestALife");
    };

    openYoutube = () => {
        window.open("https://www.youtube.com/@igashaofficial");
    };
</Script>

</body>

</html>