<%- include("./header")-%>

    <!-- start The Day -->
    <div>
        <div class="row">
            <div class="col-6 position-absolute end-0 me-3">
                <div class="row" style="margin-top: 10rem;margin-left: auto; margin-right: 2rem;">
                    <div class="col-12 text-uppercase text-white mt-5">
                        <p class="" style="font-size: 4.5rem; text-align: end; font-weight: bolder; color: rgb(137, 24, 24);">
                            The day
                        </p>
                        <p class="" style="font-size: 2.1rem;">
                            In 2022, while all mankind lived in peace, an unidentified object from the sky came and
                            spread a mystery virus around the world, mutating all living creatures on earth into
                            something blood-thirsty and violent. few humans seem to survive that incident, just to
                            suffer more pain and hopelessness since we don’t know how to kill an enemy.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_theday.png" class="w-100">
    </div>
    <!-- end The Day -->

    <!-- start New Hope -->
    <div class="position-relative">
        <div class="row">
            <div class="col-6 col-6 position-absolute">
                <div class="row" style="margin-top: 20rem;margin-left: 2rem; margin-right: auto;">
                    <div class="col-12 text-uppercase text-white mt-5 ms-5">
                        <p class="" style="font-size: 4.5rem; text-align: end; font-weight: bolder; color: rgb(137, 24, 24);">
                            New Hope
                        </p>
                        <p class="" style="font-size: 2.1rem;">
                            Hiding in the shadow for 100 years. Humanity has been living in fear and struggle ever
                            since. Until, a group of viators found a way to fight back the enemy with the substance
                            called ‘‘Aniz’. When Aniz contained with a bullet, it became an ultimate weapon for the
                            enemy we can’t even defeat before.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_newhope.png" class="w-100">
    </div>
    <!-- end New Hope -->

    <!-- start viator -->
    <div class="position-relative">
        <div class="row">
            <div class="col-8 col-4 position-absolute">
                <div class="row" style="margin-top: 10rem;margin-left: auto; margin-right: auto;">
                    <div class="col-12 text-uppercase text-black mt-5 ms-5">
                        <p class="" style="font-size: 4.5rem;text-align: end;font-weight: bolder; color: rgb(137, 24, 24);">
                            Viator
                        </p>
                        <p class="" style="font-size: 2.1rem;">
                            Aniz became the most important currency. Everyone needs it in order to survive. The alien
                            blood or alienware are contains a specific hematopoietic that can proceed to Aniz in the
                            laboratory. However, none of that procedure will happen if we don’t get a key material to be
                            extracted into Aniz, the blood of those cruel alien beasts. And who’s going to get those
                            blood?. Of course it must be someone brave enough, good enough, tough enough and mad enough
                            to go out there and fight an alien which is five times bigger than themself.
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Someone like a mercenary soldier calls ‘Viator’</p>

                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Viator.png" class="w-100">
    </div>
    <!-- end Viator -->

    <!-- start Discover -->
    <div class="position-relative">
        <div class="row">
            <div class="col-8 position-absolute end-0 me-5">
                <div class="row" style="margin-top: 3rem;margin-left: auto; margin-right: 7.5rem;">
                    <div class="col-12 text-uppercase text-black mt-5">
                        <p class="" style="font-size: 4.5rem;font-weight: bolder;text-align: center; color: rgb(137, 24, 24);">
                            Discover Post-apocalypse Phuket
                        </p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Play</p>
                        <p class="" style="font-size: 2.1rem;">
                            - Difficult but fair, giving players a free choice to leave a match early or
                            stay longer for double rewards.
                        </p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Craft</p>
                        <p class="" style="font-size: 2.1rem;">
                            - Craft all blueprints and consumable. From the rarest to common materials. The
                            harder it gets, the higher it sells.
                        </p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Trade</p>
                        <p class="" style="font-size: 2.1rem;">
                            - Trading blueprints, vanity and weapons to another viator.
                        </p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder;color: rgb(137, 24, 24);">Discover</p>
                        <p class="" style="font-size: 2.1rem;">
                            - With the community, all viators can go and discover all the mystery places and
                            share them with each other. Appreciate post-apocalypse Phuket and more secrets waiting to be
                            found.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Discover.png" class="w-100">
    </div>
    <!-- end Discover -->

    <!-- start Survive -->
    <div>
        <div class="row">
            <div class="col-6 col-6 position-absolute">
                <div class="row" style="margin-top: 3rem;margin-left: 2.5rem; margin-right: auto;">
                    <div class="col-12 text-uppercase text-black mt-5 ms-5">
                        <p class="" style="font-size: 4.5rem;font-weight: bolder;text-align: end;color: rgb(137, 24, 24);">
                            Survive
                        </p>
                        <p class="" style="font-size: 2.5rem;font-weight: bolder;text-align: end;">The rules are simple. Survive.</p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Extraction Time</p>
                        <p class="" style="font-size: 2.1rem;">
                            - ‘High-risk high-return’ is a sentence for it. The longer players stay, the more
                            resources players get.
                        </p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Gear, craft and management</p>
                        <p class="" style="font-size: 2.1rem;">
                            - Players combine and craft different pieces of gear and loadouts freely up to
                            their own style of gameplay they like.
                        </p>
                        <p class="" style="font-size: 2.1rem;font-weight: bolder; color: rgb(137, 24, 24);">Skill-tree</p>
                        <p class="" style="font-size: 2.1rem;">
                            - update perk by level up your viator to unlock a skill from skill-tree. Use it to your
                            advantage to make surviving in a brutal environment easier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Survive.png" class="w-100">
    </div>
    <!-- end Survive -->

    <!-- start Explore -->
    <div>
        <div class="row">
            <div class="col-9 col-3 position-absolute">
                <div class="row" style="margin-top: 20rem;margin-left: auto; margin-right: auto;">
                    <div class="col-12 text-uppercase text-white mt-5 ms-5">
                        <p class="" style="font-size: 4.5rem;font-weight: bolder;text-align: center; color: rgb(137, 24, 24);">
                            Explore post-apocalypse Phuket in Vest A Life
                        </p>
                        <p class="" style="font-size: 2.1rem;">
                            experience a war-torn, haft Phuket haft alien-like building where alien monsters
                            are lurking around and blood-thirst for any creatures that move.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Explore post-apocalypse Phuket.png" class="w-100">
    </div>
    <!-- end Explore -->

    <%- include("./footer")-%>