<%- include("./header")-%>

    <!-- start The Day -->
    <div>
        <div class="row">
            <div class="col-6 position-absolute end-0 me-3">
                <div class="row container-game">
                    <div class="col-12 text-uppercase text-white mt-5">
                        <p class="text-end fw-bolder font-main">
                            The day
                        </p>
                        <p class="font-text lh-base">
                            In 2022, while all mankind lived in peace, an unidentified object from the sky came and
                            spread a mystery virus around the world, mutating all living creatures on earth into
                            something blood-thirsty and violent. few humans seem to survive that incident, just to
                            suffer more pain and hopelessness since we don’t know how to kill an enemy.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_theday.png" class="w-100">
    </div>
    <!-- end The Day -->

    <!-- start New Hope -->
    <div class="position-relative">
        <div class="row">
            <div class="col-6 col-6 position-absolute">
                <div class="row container-game container-hope">
                    <div class="col-12 text-uppercase text-white mt-5 ms-5">
                        <p class="text-end fw-bolder font-main">
                            New Hope
                        </p>
                        <p class="font-text lh-base">
                            Hiding in the shadow for 100 years. Humanity has been living in fear and struggle ever
                            since. Until, a group of viators found a way to fight back the enemy with the substance
                            called ‘‘Aniz’. When Aniz contained with a bullet, it became an ultimate weapon for the
                            enemy we can’t even defeat before.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_newhope.png" class="w-100">
    </div>
    <!-- end New Hope -->

    <!-- start viator -->
    <div class="position-relative">
        <div class="row">
            <div class="col-8 col-4 position-absolute">
                <div class="row container-game">
                    <div class="col-12 text-uppercase text-black mt-4 ms-3">
                        <p class="text-end fw-bolder font-main">
                            Viator
                        </p>
                        <p class="font-text lh-base">
                            Aniz became the most important currency. Everyone needs it in order to survive. The alien
                            blood or alienware are contains a specific hematopoietic that can proceed to Aniz in the
                            laboratory. However, none of that procedure will happen if we don’t get a key material to be
                            extracted into Aniz, the blood of those cruel alien beasts. And who’s going to get those
                            blood?. Of course it must be someone brave enough, good enough, tough enough and mad enough
                            to go out there and fight an alien which is five times bigger than themself.
                        <p class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">Someone like a
                            mercenary soldier calls ‘Viator’</p>

                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Viator.png" class="w-100">
    </div>
    <!-- end Viator -->

    <!-- start Discover -->
    <div class="position-relative">
        <div class="row">
            <div class="col-8 position-absolute end-0 me-5">
                <div class="row">
                    <div class="col-12 text-uppercase text-black mt-2">
                        <div class="container text-center fw-bolder font-main">
                            Discover Post-apocalypse Phuket
                        </div>
                        <div class="fw-bolder font-text" style="color: rgb(137, 24, 24);">Play
                            <div class="container color: text-black fw-normal lh-base">
                                - Difficult but fair, giving players a free choice to leave a match early or
                                divstay longer for double rewards.
                            </div>
                        </div>

                        <div class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">Craft
                            <div class="container color: text-black fw-normal">
                                - Craft all blueprints and consumable. From the rarest to common materials. The
                                harder it gets, the higher it sells.
                            </div>
                        </div>

                        <div class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">Trade
                            <div class="container color: text-black fw-normal">
                                - Trading blueprints, vanity and weapons to another viator.
                            </div>
                        </div>
                        <div class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">Discover
                            <div class="container color: text-black fw-normal">
                                - With the community, all viators can go and discover all the mystery places and
                                share them with each other. Appreciate post-apocalypse Phuket and more secrets
                                waiting to be
                                found.
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Discover.png" class="w-100">
    </div>
    <!-- end Discover -->

    <!-- start Survive -->
    <div class="position-relative">
        <div class="row">
            <div class="col-8 col-4 position-absolute">
                <div class="row container-game">
                    <div class="col-12 text-uppercase text-black mt-5 ms-5">
                        <div class="text-end fw-bolder font-main lh-base">
                            Survive
                            <div class="text-end color: text-black fw-bolder font-text">The rules are
                                simple. Survive.</div>
                        </div>
                        <div class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">
                            Extraction Time
                            <div class="color: text-black fw-normal">
                                - ‘High-risk high-return’ is a sentence for it. The longer players stay, the more
                                resources players get.
                            </div>
                        </div>
                        <div class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">Gear,
                            craft and management
                            <div class="color: text-black fw-normal">
                                - Players combine and craft different pieces of gear and loadouts freely up to
                                their own style of gameplay they like.
                            </div>
                        </div>

                        <div class="fw-bolder font-text lh-base" style="color: rgb(137, 24, 24);">
                            Skill-tree
                            <div class="color: text-black fw-normal">
                                - update perk by level up your viator to unlock a skill from skill-tree. Use it to
                                your
                                advantage to make surviving in a brutal environment easier.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Survive.png" class="w-100">
    </div>
    <!-- end Survive -->

    <!-- start Explore -->
    <div class="position-relative">
        <div class="row">
            <div class="col-9 col-3 position-absolute">
                <div class="row container-game container-hope" style="margin-left: 0.5rem; margin-right: 2rem;">
                    <div class="col-12 text-uppercase text-white mt-5 ms-5">
                        <p class="text-center fw-bolder font-main">
                            Explore post-apocalypse Phuket in Vest A Life
                        </p>
                        <p class="font-text lh-base">
                            experience a war-torn, haft Phuket haft alien-like building where alien monsters
                            are lurking around and blood-thirst for any creatures that move.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <img src="/img/bg_game_Explore post-apocalypse Phuket.png" class="w-100">
    </div>
    <!-- end Explore -->

    <%- include("./footer")-%>