<%- include("./header")-%>
<div>
    <img src="/img/bg_Community Center.png" class="w-100">
    <div class="position-relative">
        <div class="col-6 position-absolute bottom-0 start-0">
            <img src="/img/Home/introduction.png" class="w-100">
        </div>
    </div>
</div>

<!-- start introduction -->
<div class="position-relative">
    <div class="row">
        <div class="col-6 position-absolute">
            <div class="row">
                <div class="col-12 text-uppercase text-white lh-lg mt-4 ms-4 home-font"
                    data-aos="fade-right">
                    Welcome to Vest A Life, an upcoming TPS Video game built on blockchain to offer a surreal experience
                    for
                    every Viator who dares to enter the world of Vest A Life. setting up on one of the most famous
                    cities
                    in
                    Thailand ‘Phuket’. Face all of the dangers from Alien monsters called XIZ to other players who
                    have
                    the
                    same goals as you do.
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="col-2"></div>
                    <div class="col-8"><a href="/whitepaper"><img src="/img/Home/Link/link_whitepaper.png"
                                class="w-100 whitepaper"></a>
                    </div>
                    <div class="col-2"></div>
                </div>

            </div>
        </div>
        <div class="col-6 position-absolute bottom-0 end-0">
            <img src="/img/Home/discover to survive.png" class="w-100">
        </div>
    </div>
    <img src="/img/Introduction_bg.png" class="w-100">
</div>
<!-- end introduction -->

<!-- start discover to survive -->
<div class="position-relative">
    <div class="row">
        <div class="col-6 position-absolute bottom-0 start-0">
            <img src="/img/Home/blockchain.png" class="w-100">
        </div>
        <div class="col-6 position-absolute container end-0">
            <div class="row">
                <div class="col-12 text-uppercase text-white lh-lg mt-4 home-font" data-aos="zoom-in-up">
                    Viator has to acknowledge all kinds of dangers in the world of Vest A Life. going through different
                    types of alien
                    monsters. Players have to master both skill-combet, management including communication to help
                    themself survive in every
                    situation.
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a href="/game"><img src="/img/Home/Link/link_gamepage.png" class="w-100 gamepage"></a>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
    <img src="/img/survive_bg.png" class="w-100">
</div>
<!-- end discover to survive -->

<!-- start blockchain -->
<div class="position-relative">
    <div class="row">
        <div class="col-8 position-absolute text-uppercase text-white lh-lg mt-5 ms-5 home-font" data-aos="fade-right">
            Trade in-game assets on chain, Vest A Life helps shape a form of trading system for all players, creating
            choices to play however players see suitable. Blockchain provides an approachable system to earn real
            money-sell and trade, play and win
        </div>
        <div class="col-6 position-absolute bottom-0 end-0">
            <img src="/img/Home/passionate team.png" class="w-100">
        </div>
    </div>
    <img src="/img/Blockchain_bg.png" class="w-100">
</div>
<!-- end blockchain -->

<!-- start passionate team -->
<div class="position-relative">
    <div class="row">
        <div class="col-6 position-absolute bottom-0 start-0">
            <img src="/img/Home/collect item.png" class="w-100">
        </div>
        <div class="col-8 end-0 position-absolute text-uppercase text-white lh-lg home-font container-passion"
            data-aos="zoom-in-left">
            The Igasha team creates all procedures with passion, to make an impression and new-looks to the Phuket we
            know. Our team intends to bring a world players can experience with passion and joy just like Igasha does.
        </div>
    </div>
    <img src="/img/Passionate team_bg.png" class="w-100">
</div>
<!-- end passionate team -->

<!-- start collect item -->
<div class="position-relative">
    <div class="position-absolute container">
        <div class="text-uppercase text-white home-font container-collect-item" data-aos="fade-right">
            <div>
                <i class="fa-sharp fa-solid fa-circle-dot"></i>
                Blueprint</div>
            <p>
                collect all kinds of weapons and costumes by searching for every pieces of blueprint and mint to use
                anyway
                players love to.
            </p>
            <div>
                <i class="fa-sharp fa-solid fa-circle-dot"></i>
                Rarity</div>
            <p>
                Legendary, Epic, Rare and common will get unique additional stat and access differently from each other.
                Still, unique but fair.
            </p>
            <div>
                <i class="fa-sharp fa-solid fa-circle-dot"></i>
                Exclusive Access</div>
            <p>
                Join in with first launch close BETA. become early viator and get exclusive item on official opening day
            </p>
        </div>
    </div>
    <img src="/img/Collect Item_bg.png" class="w-100">
</div>
<!-- end collect item -->

<!-- start Promote -->
<div class="position-relative">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8 position-absolute end-0 container-promote">
            <p>
                <img src="/img/Home/promote_community.png" class="w-75" data-aos="fade-down">
            </p>
            <p class="col-9 text-uppercase text-white text-center lh-lg home-font" data-aos="fade-up">
                GET ON THE ACTION, EARN EXCLUSIVE REWARDS
                Join community and help shape the game in a positive ways
                Receive a rewards that show off your early support
            </p>
        </div>
    </div>
    <img src="/img/Promote _ Community_bg.png" class="w-100">
</div>
<!-- end Promote -->

<script>
    $(document).ready(function () {
        $(".whitepaper").hover(
            function () {
                $(this).attr("src", "/img/Home/Link/link_whitepaper_hold.png")
            },
            function () {
                $(this).attr("src", "/img/Home/Link/link_whitepaper.png")
            }
        );

        $(".gamepage").hover(
            function () {
                $(this).attr("src", "/img/Home/Link/link_gamepage_hold.png")
            },
            function () {
                $(this).attr("src", "/img/Home/Link/link_gamepage.png")
            }
        );
    });
</script>

<%- include("./footer")-%>