.home-font {
    font-size: 2vw;
}

.container-passion {
    margin-top: 10vw;
    margin-left: 10vw;
}

.container-collect-item {
    margin-top: 5vw;
    margin-left: 8vw;
}

.container-promote {
    margin-top: 10vw;
}

.font-footer {
    font-size: 1.3vw;
}

.font-main {
    font-size: 4vw;
    color: rgb(176, 31, 31);
}

.font-text {
    font-size: 2vw;
}

.container-game {
    margin-right: 0.5vw;
    margin-left: 2vw;
}

.container-hope {
    margin-top: 8vw;
}

.font-coming{
    font-size: 5.5vw;
}

.container-coming{
    margin-top: 15vw;
}

.container-about{
    margin-top: 2vw;
}
.font-about{
    font-size: 3.5vw;
}
.font-aboutus{
    font-size: 1.7vw;
}