<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-5 my-5 position-absolute">
            <div class="row d-flex justify-content-center" style="margin-top: 10rem;">
                <div class="col-8">
                    <p class= "" style="font-size: 5rem; font-weight: bolder; text-align: center;color: rgb(137, 24, 24);">
                        Who We Are
                    </p>
                    <br />
                    <p class="" style="font-size: 2.1rem;color: #fff;">
                        Igasha is a passionate team of experienced people in an industry. The studio is headquartered at
                        BTC offices in Chalong, Phuket.
                    </p>
                    <br />
                    <p class="" style="font-size: 2.1rem;color: #fff;">
                        We are a unique team of designers, artists and programmers working with an intense passion. To
                        produce a Third-person shooter from Thailand to the rest of the world.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/bg_About Us.png">
    </div>

    <%- include("../footer")-%>