<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-3 my-3 position-absolute">
            <div class="row d-flex justify-content-center text-uppercase container-about">
                <div class="col-8">
                    <p class="fw-bolder text-center font-main">
                        Who We Are
                    </p>
                    <p class="text-white font-text lh-lg">
                        Igasha is a passionate team of experienced people in an industry. The studio is headquartered at
                        BTC offices in Chalong, Phuket.
                    </p>
                    <p class="text-white font-text lh-lg">
                        We are a unique team of designers, artists and programmers working with an intense passion. To
                        produce a Third-person shooter from Thailand to the rest of the world.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/bg_About Us.png">
    </div>

    <%- include("../footer")-%>