<%- include("../header")-%>

    <div class="container-fluid">

        <div class="position-relative">
            <div class="row position-absolute justify-content-center text-uppercase container-about" style="padding-top: 2vw;">
                <div class="col-8">
                    <p class="fw-bolder font-about" style="color: rgb(137, 24, 24);">
                        Who We Are
                    </p>
                    <p class="text-white font-aboutus lh-lg">
                        Igasha is a passionate team of experienced people in an industry. The studio is headquartered at
                        BTC offices in Chalong, Phuket.
                    </p>
                    <p class="text-white font-aboutus lh-lg">
                        We are a unique team of designers, artists and programmers working with an intense passion. To
                        produce a Third-person shooter from Thailand to the rest of the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
        <img class="img-fluid w-100" src="/img/bg_About Us.png">
        <div class="position-relative">
            <div class="col-8 position-absolute"></div>
            <div class="col-4 position-absolute bottom-0 end-0">
                <img class="img-fluid w-100" src="/img/re_logo.png">
            </div>
        </div>
    

    <%- include("../footer")-%>