<%- include("../header")-%>

    <div class="bg-image">
        <div class="container pt-5 my-5 position-absolute">
            <div class="row">
                <div class="col-xs-1 center-block">
                    <p class="display-3 text-uppercase fw-bolder text-white">
                        Who We Are
                    </p>
                    <br />
                    <p class="fs-3 text-uppercase text-white">
                        Igasha is a passionate team of experienced people in an industry. The studio is headquartered at
                        BTC offices in Chalong, Phuket .
                    </p>
                    <br />
                    <p class="fs-3 text-uppercase text-white">
                        We are a unique team of designers, artists and programmers working with an intense passion. To
                        produce a Third-person shooter from Thailand to the rest of the world.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="bg_About Us.png">
    </div>

    <%- include("../footer")-%>