<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-5 my-5 position-absolute">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 offset-ms-3">
                    <br />
                    <p class="text-center display-3 text-uppercase fw-bolder text-white">
                        Join the squad
                    </p>
                    <br />
                    <p class="fs-3 text-uppercase text-white">
                        Igasha team is seeking new members to the squad. We succeed or fail as a unit, we believe in
                        failing fast and learning from those failures and we never forget it takes the whole team to overcome
                        our obstacles. Come join us to create a world of Vest A Life.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid w-100" src="/img/RNT0543.jpg">
    </div>

    <%- include("../footer")-%>