<%- include("../header")-%>

    <div class="bg-image">
        <div class="container px-5 position-absolute">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <br />
                    <p class="text-center display-3 text-uppercase fw-bolder text-white">
                        Join the squad
                    </p>
                    <br />
                    <p class="fs-3 text-uppercase text-white">
                        Igasha team is seeking new members to the squad. We succeed or fail as a unit, we believe in
                        failing
                        fast and learning from those failures and we never forget it takes the whole team to overcome
                        our
                        obstacles. Come join us to create a world of Vest A Life.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <img class="img-fluid" src="bg_About Us.png">
    </div>

    <%- include("../footer")-%>