<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-3 my-3 position-absolute">
            <div class="row d-flex justify-content-center text-uppercase container-about">
                <div class="col-8">
                    <br />
                    <p class="fw-bolder text-center font-main">
                        Join the squad
                    </p>
                    <br />
                    <p class="font-text text-white lh-lg">
                        Igasha team is seeking new members to the squad. We succeed or fail as a unit, we believe in
                        failing fast and learning from those failures and we never forget it takes the whole team to overcome
                        our obstacles. Come join us to create a world of Vest A Life.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid w-100" src="/img/RNT0543.jpg">
    </div>

    <%- include("../footer")-%>