<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-3 my-3 position-absolute">
            <div class="row d-flex justify-content-center text-uppercase container-about">
                <div class="col-8">
                    <p class="fw-bolder font-about" style="color: rgb(137, 24, 24);">
                        Our vision
                    </p>
                    <p class="text-white font-aboutus lh-lg">
                        We want to push out a shooting game in the name of the Thai team internationally. With the
                        intention to develop something the team and the community can enjoy, feel fondness,
                        share and grow together.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid w-100" src="/img/bg_About Us.png">
    </div>


    <%- include("../footer")-%>