<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-5 my-5 position-absolute">
            <div class="row d-flex justify-content-center" style="margin-top: 10rem;">
                <div class="col-8">
                    <!-- <br /> -->
                    <p class="" style="font-size: 5rem; font-weight: bolder; text-align: center;color: rgb(137, 24, 24);">
                        Our vision
                    </p>
                    <br />
                    <p class="" style="font-size: 2.1rem;color: #fff;">
                        We want to push out a shooting game in the name of the Thai team internationally. With the
                        intention to develop something the team and the community can enjoy, feel fondness, 
                        share and grow together.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/bg_About Us.png">
    </div>


    <%- include("../footer")-%>