<%- include("../header")-%>

    <div class="bg-image">
        <div class="container-fluid pt-3 my-3 position-absolute">
            <div class="row d-flex justify-content-center text-uppercase container-about">
                <div class="col-8">
                    <p class="fw-bolder text-center font-main">
                        Our vision
                    </p>
                    <p class="text-white font-text lh-lg">
                        We want to push out a shooting game in the name of the Thai team internationally. With the
                        intention to develop something the team and the community can enjoy, feel fondness,
                        share and grow together.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="/img/bg_About Us.png">
    </div>


    <%- include("../footer")-%>