<%- include("../header")-%>

    <div class="bg-image">
        <div class="container pt-5 my-5 position-absolute">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-xl-8">
                    <!-- <br /> -->
                    <p class="text-center display-3 text-uppercase fw-bolder text-white">
                        Our vision
                    </p>
                    <br />
                    <p class="fs-3 text-uppercase text-white">
                        We want to push out a shooting game in the name of the Thai team internationally. With the
                        intention
                        to develop something the team and the community can enjoy, feel fondness, share and grow
                        together.
                    </p>
                </div>
            </div>
        </div>
        <img class="img-fluid" src="bg_About Us.png">
    </div>


    <%- include("../footer")-%>